In [1]:
import pandas as pd
import sqlalchemy

In [2]:
watch_data=pd.read_csv("watches_cleaned.csv")

In [3]:
watch_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2840 entries, 0 to 2839
Data columns (total 8 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Name         2840 non-null   object
 1   Price(â‚¹)     2840 non-null   int64
 2   Brand        2840 non-null   object
 3   Ratings      2840 non-null   float64
 4   Reviews      2840 non-null   int64
 5   Type         2840 non-null   object
 6   Gender       2840 non-null   object
 7   Price_Range  2793 non-null   object
dtypes: float64(1), int64(2), object(5)
memory usage: 177.6+ KB

In [4]:
import mysql.connector

In [5]:
mydb =mysql.connector.connect(
    host ='localhost',
    user = 'root',
    port = 3306,
    password = "password",
    database = 'capstone'
)
print(mydb)

<mysql.connector.connection_cext.CMySQLConnection object at 0x0000027124BCF7D0>

In [6]:
engine =sqlalchemy.create_engine('mysql+pymysql://root:password@localhost/capstone')

In [7]:
engine

Engine(mysql+pymysql://root:***@localhost/capstone)

In [8]:
#exporting to MySQL
watch_data.to_sql('watch_data',con=engine,if_exists ='replace',index =False)

2840

In [9]:
mycursor = mydb.cursor()

# Show tables in the database
mycursor.execute("SHOW TABLES")
for table in mycursor.fetchall():
    print(table)

print("\n--- Data from Watch_data table ---")
# Select all rows from CUSTOMERS table
mycursor.execute("SELECT * FROM WATCH_DATA LIMIT 10")
result = mycursor.fetchall()

for row in result:
    print(row)

('watch_data',)

--- Data from Watch_data table ---
('Analog Watch  - For Boys New Attractive Designer Blue D...', 209, 'Shivark', 2.0, 71, 'Analog', 'Boys', 'Low (0-500)')
('Trending Day & Date Functioning for Boys Analog Watch  ...', 279, 'LOIS CARON', 4.5, 93, 'Analog', 'Boys', 'Low (0-500)')
('T800 Digital Watch  - For Boys & Girls 1221', 386, 'RLS', 2.6, 235, 'Digital', 'Universal', 'Low (0-500)')
('Seraphina Analog Watch  - For Women FCN089UL', 1359, 'French Connection', 1.3, 394, 'Analog', 'Women', 'High (1001-2000)')
('Stylish Analog Watch  - For Women 81727784', 900, 'Dressberry', 4.4, 169, 'Analog', 'Women', 'Mid (501-1000)')
('Green Dial Day Date Functioning Stainless Steel Chain A...', 299, 'TIMEWEAR', 1.5, 67, 'Unknown', 'Unknown', 'Low (0-500)')
('Analog Watch  - For Women DB Rose Silver Laksh994', 233, 'Rishtey', 4.9, 195, 'Analog', 'Women', 'Low (0-500)')
('Analog Watch  - For Women DB Rose Black Laksh660', 233, 'Rishtey', 1.7, 358, 'Analog', 'Women', 'Low (0-500)')
('Car wheel watch | Spinning watch | Roatating watch | Gy...', 467, 'Spinner', 1.3, 241, 'Unknown', 'Unknown', 'Low (0-500)')
('T800 Digital Watch  - For Boys & Girls 2212', 403, 'RLS', 2.4, 109, 'Digital', 'Universal', 'Low (0-500)')

In [10]:
mydb.close()